
.event_card_hand
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 20%;

}

.card_container
{
    width: 150px;
    height: 200px;
    background-color: rosybrown;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.event_card_hand .card_container.selected::before
{
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
}

.card_container.placeholder
{
    background-color: lightgrey;
}

.selectable .card_container
{
  animation: pulse-animation 2s infinite;
}

.event_card_hand .card_container:hover
{
    background-color: aqua;
    
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}