.game-tutorials
{
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(.5,.5,.5,.5);
}

.game-tutorials .tab-links
{
    height: 55px;
}

.game-tutorials .tab-link.elo-button
{
    padding: 5px;
    margin-right: 45px;
    height: 40px;
}

.game-tutorials .tab-link.elo-button.current-tab
{
    background: white;
}

.game-tutorials-container.elo-action-screen
{
    width: 65%;
    height: 80%;
}

.close-tutorials
{
    position: absolute;
    width: 50px;
    top: -36px;
    right: -75px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.tutorial-dialogue
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-tutorials .tutorial-dialogue .navigation-section
{
    position: absolute;
    bottom: 26%;
    left: 0;
    right: 0;
    margin: 0;
}

.tutorial-dialogue .image-section,
.tutorial-dialogue .navigation-section,
.tutorial-dialogue .text-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial-dialogue .image-section
{
    position: absolute;
    top: 54px;
    right: 0;
    left: 0;
    bottom: 23%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 10px;
}

.tutorial-dialogue .image-section .tutorial-image
{
    border: 1px solid white;
    border-radius: 30px;
    width: auto;
    max-width: 95%;
    height: 85%;
    padding: 15px;
}

#tutorial-overview.tutorial-dialogue .image-section .tutorial-image
{
    padding: 5px;
}

.tutorial-dialogue .image-section .tutorial-arrow
{
    cursor: pointer;
    position: absolute;
    top:50%;
    width: 40px;
    color: white;
}

.tutorial-dialogue .navigation-section
{
    padding-top: 20px;
    height: 10%;
}

.tutorial-dialogue .text-section
{
    color: white;
    position: absolute;
    top: 74%;
    right: 5%;
    left: 5%;
    bottom: 0;
}

.tutorial-dialogue .text-section p
{
    height: 100%;
    font-size: 3vmin;
    color: black;
}

.tutorial-dialogue .breadcrumb
{
    padding: 6px;
    margin-right: 5px;
    border: none;
    border-radius: 2px;
}

.blue .tutorial-dialogue .breadcrumb.current
{
    background: #698DC5;
}

.red .tutorial-dialogue .breadcrumb.current
{
    background: #f06961;
}

.previous-button
{
    left: -65px;
}

.next-button
{
    right: -65px;
    transform: rotateY(180deg);
}

@media (min-width: 1024px) {
    .tutorial-dialogue .text-section p
    {
        font-size: 5vmin;
    }
}