.bg-image
{
    background: url("../images/bg1.jpg");
}

.mask-custom
{
    background: #e96656;
}

.mask.d-flex
{
    backdrop-filter: blur(5px);
    padding-top: 200px;
}

.title
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -150px;
}

.title-image
{
    height:200px;
    max-width: 50%;
}

.container
{
    position: relative;
}