.intro,
.mask.d-flex.align-items-center
{
    background-color: #e96656;
}

.title
{
    color: white;
    padding: 10px 0;
    
}

.instructions
{
    color: #eeeeee;
    margin-bottom: 20px;
}

.player_name_container
{
    color: white;
}

.matched_players 
{
    margin-bottom: 20px;
}

.unmatched_players
{
    position: relative;
}

.match_players_button
{
    position: absolute;
    top: 20px;
    right: 40px;
    border-radius: 5px;
}

.event_mode_button_container
{
    position: absolute;
    top: 40px;
    right: 60px;
}

.new_game_button
{
    position: absolute;
    top: 20px;
    right: 200px;
    border-radius: 5px;
}

.hidden 
{
    display: none;
}

.local_player
{
    color: green;
    font-weight: bold;
}

.join_prompt
{
    font-size: 20px;
}

.join_link
{
    font-size: 20px;
    color: #4444DD;
    font-weight: bold;
}

.no-activity,
.inactive
{
    color: red;
}

.less-active
{
    color: yellow;
}

.active
{
    color: green;
}