.effect_shift_confirm
{
    margin-top: 15px;
}

.effect_shift_states
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.effect_shift_states .selected
{
    background-color: lightgreen;
}